{% extends 'base.html.twig' %}

{% block body %}
    <pre>
            {{ content }}
    </pre>

    <br />
    <h2>To go back to home page click here  =></h2><a href="{{ path('homepage') }}">Home Page</a>



{% endblock %}
